.Link:hover {
  background-color: #f2f2f2;
}

.navbar-brand {
  color: #000
}
.nav-item:hover {
  color: #6c6cc6;
  background-color: #fff;
}

.Link {
  color: #6c6cc6;
}

.class1 {
  color : #6c6cc6;
}
.class1:hover {
  background-color: #000;
}