.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
	font-size : 10pt;
	margin-left : 5%;
	margin-right : 7%;
	font-family: arial,univers,times,fantasy,verdana,helvetica;
	color : #35311E;
	background : #DDDDDD
}

input[type='range'] {
  width: 100%;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 200px;
  height: 5px;
  background: #DDD;
}
input[type='range']::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -5px;
  margin-left: 0px;
  background: #03A99E;
  border-radius: 50%;
  border: 2px solid white;
}
/* input[type='range']::-webkit-slider-thumb::before {
  position: absolute;
  content: '';
  height: 10px; // equal to height of runnable track
  width: 500px; // make this bigger than the widest range input element
  left: -502px; // this should be -2px - width
  top: 8px; // don't change this
  background: #777;
} */
